<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/webstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
    <link rel="shortcut icon" href="imgs/ccms-logo.svg" type="image/x-icon">
</head>

<body>
    <%- include('./partials/navbar'); %>
        <% if (pagedata[0].blogPostHeaderImage==true) { %>
            <img src="uploads/resized/<%= postdata.headerImage %>" alt="" class="header-img edit">
            <% } else if (pagedata[0].blogPostHeaderImage==false) { %>
                <img src="uploads/resized/<%= pagedata[0].data %>" alt="" class="header-img edit">
                <% } %>
                    <div class="container">
                        <div id="postarea">
                            <h1 class="" style="text-align: center; margin-bottom: -10px; margin-top: 120px;">
                                <%= postdata.postTitle %>
                            </h1>
                            <p class="caption" style="text-align: center; margin-bottom: 45px;">
                                <%= postdata.author%> |
                                    <%= postdata.dateposted%>
                            </p>
                        </div>
                        <h1 style="text-align: center; margin-bottom: 60px; margin-top: 120px;">Other Posts</h1>
                        <div class="bottom-post-list">
                            <% for (var e=0; e < last3postdata.length; e++) {%>
                                <div class="post-item" onclick="window.location.href = '/post/<%=last3postdata[e].slug%>'">
                                    <img src='uploads/resized/<%=last3postdata[e].headerImage%>' alt="" class="post-item-img">
                                    <div style="width: calc(100% - 20px); padding: 0px 10px 10px 10px;">
                                        <h1 class="postItemText" style="font-size: 25px; margin-bottom: -10px;">
                                            <%=last3postdata[e].postTitle%>
                                        </h1>
                                        <p class="postItemText" style="font-size: 15px; width: 99%;">
                                            <%=last3postdata[e].underText%>
                                        </p>
                                        <p class="caption" style="text-align: left;">
                                            <%=last3postdata[e].author%> |
                                                <%=last3postdata[e].dateposted%>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <%- include('./partials/footer'); %>
                    </div>
                    <%- include('./partials/renderdata'); %>
                        <script>
                            function onMenuClick() {
                                var navbar = document.getElementById('drop');
                                var responsive_class_name = 'responsive'
                                navbar.classList.toggle(responsive_class_name)
                            }
                        </script>

</body>

</html>